.footer-heading{
    
}
.footer-contnent-wappeer{
    padding:5% 10%;
    color: #FFFFFF;
    margin-top: 10%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer-contnent-wappeer h4{
    font-weight: 700;
}

.left {
  margin-left:5%;
}